{{#if resume.projects.length}}
<div class="container projects-container">
  {{> title value="PROJECTS"}}

  {{#each resume.projects}}
  <section class="item">
    <div class="project-header">
      <div class="project-name">{{name}}</div>

      {{#if startDate}}
      <div class="project-date">
        {{formatDate startDate}}{{#if endDate}} - {{formatDate endDate}}{{/if}}
      </div>
      {{/if}}
    </div>

    {{#if url}}
    <div class="project-url">{{url}}</div>
    {{/if}}

    {{#if summary}}
    <p class="summary">{{summary}}</p>
    {{/if}}

    {{#if keywords.length}}
    <div class="project-technologies">
      <strong>Technologies:</strong> {{#each keywords}}{{#unless @first}}, {{/unless}}{{.}}{{/each}}
    </div>
    {{/if}}

    {{#if highlights.length}}
    <div class="highlights">
      {{#each highlights}}
      <div class="highlight-item">• {{{boldKeywords . ../highlights_bold}}}</div>
      {{/each}}
    </div>
    {{/if}}
  </section>
  {{#unless @last}}<div class="section-separator"></div>{{/unless}}
  {{/each}}
</div>
{{/if}}

