{{#if resume.work.length}}
<div class="container work-container">
  {{> title value="Experience"}}

  {{#each resume.work}}
  <section class="item">
    <div class="work-header">
      <div class="work-position">{{position}}</div>
      <div class="work-company-date">
        <div class="work-company">{{company}}{{#if location}} | {{location}}{{/if}}</div>
        <div class="work-date">{{#if startDate}}{{formatDate startDate}}{{/if}}{{#if endDate}} - {{formatDate endDate}}{{else}} - Present.{{/if}}</div>
      </div>
    </div>

    <div>
    {{#if summary}}
      <p class="summary">{{summary}}</p>
    {{/if}}
    </div>

    {{#if highlights.length}}
      <div class="highlights">
        {{#each highlights}}
        <div class="highlight-item">• {{{boldKeywords . ../highlights_bold}}}</div>
        {{/each}}
      </div>
    {{/if}}
  </section>
  {{#unless @last}}<div class="section-separator"></div>{{/unless}}
  {{/each}}
</div>
{{/if}}
