{{#if resume.work.length}}
<div class="container work-container">
  {{> title value="Experience"}}

  {{#each resume.work}}
  <section class="item">
    <div class="work-header">
      <span class="work-position">{{position}}</span>
      <span class="work-company">{{company}}</span>
      <span class="work-date">
        {{#if startDate}}{{formatDate startDate}}{{/if}}{{#if endDate}} - {{formatDate endDate}}{{else}} - Present{{/if}}
      </span>
    </div>

    {{#if summary}}
      <p class="summary">{{summary}}</p>
    {{/if}}

    {{#if highlights.length}}
      <ul>
        {{#each highlights}}
        <li>{{{boldKeywords . ../highlights_bold}}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </section>
  {{/each}}
</div>
{{/if}}
